* {
    background-color: black;
    text-align: center;
}

/*h1 {
    color: white;
    font-size: 3em;
}

a {
    color: turquoise;
    font-size: 2em;
}
*/

.container {
    border: solid red;
    height: 2000px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "mainTitle"
    "mainVideo"
    "mainInfo"
    "mainPhoto"
    "comingSoon"
    "footer";
}

.cell {
    border: solid blue;
}